.card{
    background: #1E213A;
    font-size: 16px;
    color: #E7E7EB;
    width: 160px;
    height: 190px;
    margin-bottom: 10px;
    margin-right: 5px;
    .title{
        font-size: 25px;
        text-transform: capitalize;
        text-align: center;
    }
    .icon{
        margin-bottom: 15%;
    }

    .temp{
        font-size: 15px;
        text-align: center;
        &.max{
            color: #A09FB1;
        }
    }
}