<form (ngSubmit)="onSubmit()" [formGroup]="cityForm">
   <mat-form-field appearance="outline" color="primary" class="field">
    <mat-label>City</mat-label>
    <input 
        matInput
        type="text" 
        aria-label="City"
        formControlName="name"
        placeholder="Enter city name"
        [matAutocomplete]="auto"
        (input)="onInput($event)"
        required>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let city of cities" [value]="city.name+', '+city.country">
              {{city.name}}, {{city.country}}
            </mat-option>
          </mat-autocomplete>
    </mat-form-field>
    <button mat-button type="submit" [disabled]="!cityForm.valid" >
        <mat-icon aria-hidden="false" aria-label="chevron_right icon">chevron_right</mat-icon>
    </button>
</form>
