.sidebar{
    background: #1E213A;
    min-height: 100vh;
    .main-temp{
        font-weight: 500;
        font-size: 30px;
        line-height: 169px;
        text-align: center;
    }
    .main-degree{
        font-weight: 500;
        font-size: 30px;
        line-height: 169px;
        text-align: center;
    }
    .main-description{
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        color: #A09FB1;
    }
    .main-location{
        font-size: 18px;
        line-height: 21px;
        color: #88869D;

    }
}

@media screen and (min-width: 1200px) {
    .sidebar{
        .main-temp{
            font-size: 60px;
        }
        .main-degree{
            font-size: 60px;
        }
    }
}